{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h2>San Vicente Hospital </h2>
    <p>The San Vicente Hospital is a highly complex health center located in the city of Cartagena. It has a capacity of 300 beds and treats around 1,000 patients a day.
        This web application (or web app) is application software that runs on a web server, where the user enters the data of the patients such as their id, name, gender,
        vital signs, prescribed medications, among others and said information is saved so that the modification and access to it is much easier and more effective.
    </p>
</div>
{% endblock %}